
.call{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  &>{
    margin-left: 40px;
  }
  p{
  margin-left: 35px;
  margin-top: 40px;
  font-size: 2.5rem;
}
}

@media only screen and (max-width: 320px) {
  .call{
    flex-direction: column;
    align-items: center;
    &>{
      margin-left: 0px;
    }
    p{
      font-size: 2rem;
    }
  }
}
