.navigate{
  display: flex;
  flex-direction: row;
  justify-content: center;
  &> :first-child{
    font-size: 1.5rem;
  }
  & > :last-child {
    margin-left: 40px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .navigate{
    flex-direction: column;
    align-items: center;
    &> :first-child{
      font-size: 1.1rem;
    }
    &> :last-child{
      margin-left: 0px;
      font-size: 1.1rem;
    }
  }
}
